@{
    ViewData["Title"] = "Home Page";
}
@model coreAPI.Models.OutChargeProgramming;

@{
    // Default Form Values
    int Current = 19;
    int TargetSOC = 60;
    string DepartureTime = "08:00";
    if (Model != null) // isPost
    {
        Current = Model.Current;
        TargetSOC = Model.TargetSOC;
        DepartureTime = Model.DepartureTime;
    }
}

<div class="text-center">
    <h2 class="display-4">Car Charge Control</h2>
    <form method="post" asp-controller="Home" asp-action="Index">
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell" style="text-align:right"><label for="Current">Current:</label></div>
                    <div class="divTableCell" style="text-align:left"><input type="number" id="Current" name="Current" asp-for="Current" value="@Current" /></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell" style="text-align:right"><label for="TargetSOC">SOC:</label></div>
                    <div class="divTableCell" style="text-align:left"><input type="number" id="TargetSOC" name="TargetSOC" asp-for="TargetSOC" value="@TargetSOC" /></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell" style="text-align:right"><label for="DepartureTime">Departure time:</label></div>
                    <div class="divTableCell" style="text-align:left"><input type="time" id="DepartureTime" name="DepartureTime" asp-for="DepartureTime" value="@DepartureTime" /></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">&nbsp;</div>
                    <div class="divTableCell" style="text-align:left">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<p><br /></p>
@if (Model != null) // isPost - Charging Plan Table
{
    double totalMinutes = Model.Time;
    int hours = (int)(totalMinutes / 60);
    int minutes = (int)(totalMinutes % 60);
    string formattedTime = $"{hours:D2}:{minutes:D2}h";

    <div class="text-center">
        <h2 class="display-4">Charging Plan</h2>
        <form method="post">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Start</div>
                        <div class="divTableCell" style="text-align:left">@Model.Start.ToLocalTime()</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">End</div>
                        <div class="divTableCell" style="text-align:left">@Model.End.ToLocalTime()</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Duration</div>
                        <div class="divTableCell" style="text-align:left">@formattedTime</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">From</div>
                        <div class="divTableCell" style="text-align:left">@Model.From%</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">To</div>
                        <div class="divTableCell" style="text-align:left">@Model.To%</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">To Add</div>
                        <div class="divTableCell" style="text-align:left">@Model.ToAdd%</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Added</div>
                        <div class="divTableCell" style="text-align:left">@Model.Added.ToString("F2") kWh</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Used</div>
                        <div class="divTableCell" style="text-align:left">@Model.Used.ToString("F2") kWh</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Output</div>
                        <div class="divTableCell" style="text-align:left">@Model.Output.ToString("F2") kW</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Intake</div>
                        <div class="divTableCell" style="text-align:left">@Model.Intake.ToString("F2") kw</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Charge</div>
                        <div class="divTableCell" style="text-align:left">@Model.Charge.ToString("F2") Km/h</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Range Added</div>
                        <div class="divTableCell" style="text-align:left">@Model.RangeAdded.ToString("F2") km</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-align:right">Battery Capacity</div>
                        <div class="divTableCell" style="text-align:left">@Model.BatteryCapacity.ToString("F2") kWh</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<!-- IPv6-test.com widget BEGIN -->
<script type="text/javascript">
    var _ipv6test_widget_style = {
        border: "solid 1px #000",
        font_size: "12px",
        show_country_flags: true,
        show_loading_anim: true,
        ipv4_label_color: "#393",
        ipv4_background_color: "#eee",
        ipv6_label_color: "#339",
        ipv6_background_color: "#ddd",
        stats_position: "top",
        stats_font_size: "10px",
        stats_color: "#eee",
        stats_color_v4: "#beb",
        stats_color_v6: "#bbe",
        stats_background_color: "#666"
    }</script>

<hr />
<div style="width: 300px; margin-left: auto;margin-right: auto;">
    <div id="_ipv6test_widget" style="width:250px;display:none">loading <a href="http://ipv6-test.com/">IPv6 connection test</a> ...</div>
</div>
<script type="text/javascript" src="http://ipv6-test.com/api/widget.php?domain=referer" async="async"></script>
<!-- IPv6-test.com widget END -->

<script type="text/javascript" src="http://ipv6-test.com/api/widget.php?domain=referer" async="async"></script>
<!-- IPv6-test.com widget END -->
